#include "ZRConst.pas"

STRINGTABLE

{
  SzrTitle       , "Title"
  SzrPageHeader  , "Page Header"
  SzrDetail      , "Detail"
  SzrPageFooter  , "Page Footer"
  SzrSummary     , "Summary"
  SzrGroupHeader , "Group Header"
  SzrGroupFooter , "Group Footer"
  SzrSubDetail   , "Sub Detail"
  SzrColumnHeader, "Column Header"
  SzrColumnFooter, "Column Footer"
  SzrChild       , "Child"

  SzrTitleBandName       , "TitleBand"
  SzrPageHeaderBandName  , "PageHeaderBand"
  SzrDetailBandName      , "DetailBand"
  SzrPageFooterBandName  , "PageFooterBand"
  SzrSummaryBandName     , "SummaryBand"
  SzrGroupHeaderBandName , "GroupHeaderBand"
  SzrGroupFooterBandName , "GroupFooterBand"
  SzrSubDetailBandName   , "SubDetailBand"
  SzrColumnHeaderBandName, "ColumnHeaderBand"
  SzrColumnFooterBandName, "ColumnFooterBand"
  SzrChildBandName       , "ChildBand"

  SzrParentReport        , "Данный компонент может принадлежать только отчету"
  SzrParentBand          , "Данный компонент может принадлежать только панелям отчета"
  SzrZRPrinterNotReady   , "Не готов начать новый документ"
  SzrZRPrinterNotFinished, "Формирование отчета не завершено"
  SzrIllegalNewPage      , "Недопустимый вызов BeginPage"
  SzrIllegalPageRange    , "Недопустимый диапазон страниц для вывода"
  SzrNoCircular          , "Циклические ссылки недопустимы"
  SzrErrorInExpr         , "Ошибка в выражении"
  SzrNone                , "нет"
  SzrCompleted           , " Завершено"

  SzrProcessing         , "Обрабатываю.."
  SzrPrinting           , "Печатаю.."
  SzrPage               , "Стр."
  SzrOf                 , "из"
  SzrFileNotExist       , "Файл не найден"
  SzrFirstPageHint      , "Первая страница"
  SzrPrevPageHint       , "Предыдущая страница"
  SzrNextPageHint       , "Следующая страница"
  SzrLastPageHint       , "Последняя страница"
  SzrSaveReportHint     , "Сохранить отчет"
  SzrLoadReportHint     , "Загрузить отчет"
  SzrPrintReportHint    , "Печатать отчет"
  SzrPrintReport        , "Печать"

  SzrPrinterSetup       , "Параметры печати"
  SzrDestination        , "Печатать"
  SzrDestinationFile    , "в файл"
  SzrDestinationLPT     , "на принтер"
  SzrBrowse             , "Обзор.."
  SzrFileFilter         , "Текстовые файлы (*.txt)|*.txt|Все файлы (*.*)|*.*"
  SzrPages              , "Страницы"
  SzrPagesAll           , "все"
  SzrPagesRange         , "диапазон"
  SzrPagesRangeFrom     , "с:"
  SzrPagesRangeTo       , "по:"
  SzrCopies             , "Копии"
  
  SzrOK    , "Готово"
  SzrCancel, "Отмена"
  SzrExit  , "В&ыход"

  SzrTime       , "hh:mm:ss"
  SzrDate       , "dd/mm/yyyy"
  SzrDateTime   , "dd/mm/yyyy hh:mm:ss"
  SzrPageNum    , "Стр."
  SzrReportTitle, "Заголовок"
  SzrDetailCount, "Кол-во записей"
  SzrDetailNo   , "# п/п"

  SzrQSD            , "QuSoft AS"
  SzrIfDesc         , "Returns <X> or <Y> depending on the boolean expression <Exp>"
  SzrStrDesc        , "Convert a numeric <X> to a string"
  SzrTimeDesc       , "Return current time as a string"
  SzrDateDesc       , "Return current date as a string"
  SzrSumDesc        , "Sums the numeric <X>"
  SzrCopyDesc       , "Returns a substring of string X"
  SzrCountDesc      , "Increments for each iteration"
  SzrMaxDesc        , "Returns the highest <X>"
  SzrMinDesc        , "Returns the lowest <X>"
  SzrAverageDesc    , "Returns the average of numeric <X>"
  SzrBoolDesc       , "boolean value"
  SzrIntDesc        , "Returns the integer part of <X>"
  SzrFracDesc       , "Returns the fractional part of <X>"
  SzrSqrtDesc       , "Returns square root of <X>"
  SzrTypeofDesc     , "Returns the data type of <Exp>"
  SzrUpperDesc      , "Converts a string to upper case letters"
  SzrLowerDesc      , "Converts a string to lower case letters"
  SzrPrettyDesc     , "Makes the first character upper case and the rest lower case"
  SzrFormatFloatDesc, "Formats numeric <N> using the mask in <F>"
  
 }
