#include "ZRConst.pas"

STRINGTABLE

{
  SzrTitle       , "Título"
  SzrPageHeader  , "Cabeçalho de página"
  SzrDetail      , "Detalhe"
  SzrPageFooter  , "Rodapé de página"
  SzrSummary     , "Sumário"
  SzrGroupHeader , "Cabeçalho de grupo"
  SzrGroupFooter , "Rodapé de grupo"
  SzrSubDetail   , "Subdetalhe"
  SzrColumnHeader, "Coluna de cabeçalho"
  SzrColumnFooter, "Coluna de rodapé"
  SzrChild       , "Filho"

  SzrTitleBandName       , "BandTitulo"
  SzrPageHeaderBandName  , "BandCabecalhoPagina"
  SzrDetailBandName      , "BandDetalhe"
  SzrPageFooterBandName  , "BandRodapePagina"
  SzrSummaryBandName     , "BandSumario"
  SzrGroupHeaderBandName , "BandCabecalhoGrupo"
  SzrGroupFooterBandName , "BandRodapeGrupo"
  SzrSubDetailBandName   , "BandSubDetalhe"
  SzrColumnHeaderBandName, "BandColunaCabecalho"
  SzrColumnFooterBandName, "BandColunaRodape"
  SzrChildBandName       , "BandFilha"

  SzrParentReport        , "Este Componente deve pertencer somente a relatório"
  SzrParentBand          , "Este Componente deve pertencer somente a bands"
  SzrZRPrinterNotReady   , "Não foi possível iniciar um novo documento"
  SzrZRPrinterNotFinished, "Geração do relatório não finalizada"
  SzrIllegalNewPage      , "Chamada ilegal para ínicio de página"
  SzrIllegalPageRange    , "Intervalo de página inválido"
  SzrNoCircular          , "Não é permitido link circular"
  SzrErrorInExpr         , "Erro na expressão"
  SzrNone                , "nenhum"
  SzrCompleted           , "Completo"

  SzrProcessing         , "Processando..."
  SzrPrinting           , "Imprimindo..."
  SzrPage               , "Página"
  SzrOf                 , "de"
  SzrFileNotExist       , "Arquivo não encontrado"
  SzrFirstPageHint      , "Primeira página"
  SzrPrevPageHint       , "Página anterior"
  SzrNextPageHint       , "Próxima página"
  SzrLastPageHint       , "Última página"
  SzrSaveReportHint     , "Salvar relatório"
  SzrLoadReportHint     , "Carregar relatório"
  SzrPrintReportHint    , "Imprimir relatório"
  SzrPrintReport        , "Imprimir"

  SzrPrinterSetup       , "Configuração de relatório"
  SzrDestination        , "Imprimir para"
  SzrDestinationFile    , "Arquivo"
  SzrDestinationLPT     , "Impressora"
  SzrBrowse             , "Procurar.."
  SzrFileFilter         , "Arquivo texto (*.txt)|*.txt|Todos os arquivos(*.*)|*.*"
  SzrPages              , " Páginas   "
  SzrPagesAll           , "Todos"
  SzrPagesRange         , " Intervalo   "
  SzrPagesRangeFrom     , "de: "
  SzrPagesRangeTo       , "até: "
  SzrCopies             , " Cópias   "

  SzrOK    , "OK"
  SzrCancel, "Cancelar"
  SzrExit  , "Sair"

  SzrTime       , "hh:mm:ss"
  SzrDate       , "dd/mm/yyyy"
  SzrDateTime   , "dd/mm/yyyy hh:mm:ss"
  SzrPageNum    , "Page#"
  SzrReportTitle, "Report title"
  SzrDetailCount, "Detail count"
  SzrDetailNo   , "Detail no"

  SzrQSD            , "SoftCom, Inc."
  SzrIfDesc         , "Retorna <X> ou <Y> dependendo da expressão booleana <Exp>"
  SzrStrDesc        , "Converte um numerico <X> para uma string"
  SzrTimeDesc       , "Retorna a hora atual como string"
  SzrDateDesc       , "Retorna a data atual como string"
  SzrSumDesc        , "Soma de numericos <X>"
  SzrCopyDesc       , "Retorna uma substring de string X"
  SzrCountDesc      , "Incrementa para cada iteração"
  SzrMaxDesc        , "Retorna o mais alto <X>"
  SzrMinDesc        , "Retorna o mais baixo <X>"
  SzrAverageDesc    , "Retorna a media numerica <X>"
  SzrBoolDesc       , "Valor booleano"
  SzrIntDesc        , "Retorna a parte inteira de <X>"
  SzrFracDesc       , "Retorna a parte fracionária de <X>"
  SzrSqrtDesc       , "Retorna a raiz quadrada de <X>"
  SzrTypeofDesc     , "Retorna o tipo de dado de <Exp>"
  SzrUpperDesc      , "Converte uma string para caracteres maiúsculos"
  SzrLowerDesc      , "Converts uma string para caracteres minúsculos"
  SzrPrettyDesc     , "Coloca o primeiro caracter em maiúsculo e o resto em caracteres minúsculos"
  SzrFormatFloatDesc, "Formato numérico <N> usando a máscara em <F>"

 }
